.form-item .form-tips {
  height: 16px;
  width: 16px;
  text-align: center;
  padding: 4px;
}

.form-item .form-tips a {
  display: block;
  line-height: 16px;
  width: 16px;
  text-decoration: none;
}

.form-item.ff-tips-icon-processed .description {
  position: absolute;
  width: 200px;
}
